Port 2222
Protocol 2
Subsystem	sftp	/usr/libexec/gsissh/sftp-server
RSAAuthentication no
PubkeyAuthentication no
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
PermitEmptyPasswords no
LoginGraceTime 30s
MaxAuthTries 1
