# Database configuration
database type       = sql
database driver     = mysql

# Database access
database server     = 127.0.0.1
database name       = {{warewulf.db}}
database user       = {{warewulf.user}}
database password   = {{warewulf.password}}
