# Database configuration
database type       = sql
database driver     = mysql

# Database access
database server     = 127.0.0.1
database name       = {{warewulf_db}}
database user       = {{warewulf_user}}
database password   = {{warewulf_password}}
