# http://consultancy.edvoncken.net/index.php/HOWTO_Configure_DHCP_failover

##########################
# DHCP Failover, Primary #
##########################
 
failover peer "warewulf" {             # Failover configuration
  primary;                            # I am the secondary
  address {{hostvars[warewulf.master]['ansible_eth0']['ipv4']['address']}};        # My IP address
  port 647;
  peer address {{hostvars[warewulf.backup]['ansible_eth0']['ipv4']['address']}};   # Peer's IP address
  peer port 647;
  max-response-delay 60;
  max-unacked-updates 10;
  mclt 3600;
  split 128;                           # Leave this at 128, only defined on Primary
  load balance max seconds 3;
}

subnet {{networks.system}} netmask {{dhpc_masks.system}} {
  pool {
    failover peer "warewulf";
    range {{warewulf.range}};
  }
  not authoritative;
  option subnet-mask {{dhpc_masks.system}};
  allow booting;
  allow bootp;
  ddns-update-style interim;
  option routers default_router;
  filename "/warewulf/gpxelinux.0";
  not authoritative;
}

# Node entries will follow below
