keys/*
.DS_*
.*
*.pass
src/*
ca/*
space/reset
space/boot/squeeze/*
space/boot/quantal/*
space/boot/wheezy/*
space/boot/raring/*
space/boot/leases
space/boot/centos63/*
space/boot/centos64/*
space/boot/cirros/*
space/boot/tiny/*
space/boot/kali/*
space/boot/esxi/*
space/boot/pxelinux.cfg/*
space/boot/*.ks
space/boot/*.0
space/boot/*.c32
space/boot/*.C32
space/boot/*.bss
space/boot/memtest
space/boot/memdisk
space/boot/freedos
space/boot/hdt/pci.ids
space/boot/hdt/modules.pcimap
*.sublime*
*.old
etc/munge/munge.key
*.pem
*.log
