# root servers
{% set first=1 %}
ROOT={%- for host in hostvars %}
{%- if not first %}
,
{%- endif %}
{%- if first %}
{%- set first=0 %}
{%- endif %}
{{- hostvars[host]['ansible_eth0']['ipv4']['address'] }}
{%- endfor %}

{% set first=1 %}
SYSOP={%- for host in sysops %}
{%- if not first %}
,
{%- endif %}
{%- if first %}
{%- set first=0 %}
{%- endif %}
{{- host }}
{%- endfor %}
