               _____ 
              /\    \                                  __
             /  \    \                          __    /\ \
            /    \    \              __   _ __ /\_\   \_\ \
           /      \    \           /'_ `\/\`'__\/\ \  /'_` \
          /        \    \         /\ \L\ \ \ \/ \ \ \/\ \L\ \
         /          \    \        \ \____ \ \_\  \ \_\ \___,_\                         __
        /     /\     \    \        \/___L\ \/_/   \/_/\/__,_ /                        /\ \__
       /     /  \     \    \         /\____/   ___    ___     ___ ___   _____   __  __\ \ ,_\    __   
      /     /   /\     \    \        \_/__/   /'___\ / __`\ /' __` __`\/\ '__`\/\ \/\ \\ \ \/  /'__`\
     /     /   /  \     \    \               /\ \__//\ \L\ \/\ \/\ \/\ \ \ \L\ \ \ \_\ \\ \ \_/\  __/
    /     /   /    \     \    \              \ \____\ \____/\ \_\ \_\ \_\ \ ,__/\ \____/ \ \__\ \____\
   /     /   /______\_____\    \              \/____/\/___/  \/_/\/_/\/_/\ \ \/  \/___/   \/__/\/____/
  /     /   /                   \                        __               \ \_\
 /     /   /_____________________\    __    ___      __ /\_\    ___      __\/_/
 \    /                          /  /'__`\/' _ `\  /'_ `\/\ \ /' _ `\  /'__`\
  \  /                          /  /\  __//\ \/\ \/\ \L\ \ \ \/\ \/\ \/\  __/
   \/__________________________/   \ \____\ \_\ \_\ \____ \ \_\ \_\ \_\ \____\
                                    \/____/\/_/\/_/\/___L\ \/_/\/_/\/_/\/____/
                                                     /\____/
                                                     \_/__/
