#
# https://sites.google.com/site/guenterbartsch/blog/centos56ldapusingtlswithsshapasswords
#
uri ldaps://localhost/{%- for host in hostvars %}
 ldaps://{{host}}/
{%- endfor %}

ssl on
base {{ldap.domain}}
# tls_checkpeer yes
tls_cacertfile /etc/grid-security/cacert.pem
# tls_cert = /etc/grid-security/hostcert.pem
# tls_key = /etc/grid-security/hostkey.pem
