[filters]
red: .*[Ee]rror.*|.*[Dd]eny.*|.*[Dd]enied.*|.*DROP.*|.*REJECT.*|.*[Bb]roken.*
green: .*[Aa]ccept.*|.*[Ss]ync.*|.*[Ee]stablished.*
yellow: .*[Tt]ermination.*|.*[Ss]tart.*|.*[Ss]top.*|.*[Rr]eset.*
blue: .*ansible.*
