dn: {{rootdc}}
objectClass: top
objectClass: domain
dc: {{topdc}}

dn: ou=People,{{rootdc}}
ou: People
objectClass: top
objectClass: organizationalUnit

dn: ou=Group,{{rootdc}}
ou: Group
objectClass: top
objectClass: organizationalUnit
