dn: {{ldap.domain}}
objectClass: top
objectClass: domain
dc: {{ldap.dctop}}

dn: ou=People,{{ldap.domain}}
ou: People
objectClass: top
objectClass: organizationalUnit

dn: ou=Group,{{ldap.domain}}
ou: Group
objectClass: top
objectClass: organizationalUnit
