ErrorDocument 400 '{"type":"exception","data":"HTTP_BAD_REQUEST"}'
ErrorDocument 401 '{"type":"exception","data":"HTTP_UNAUTHORIZED"}'
ErrorDocument 403 '{"type":"exception","data":"HTTP_FORBIDDEN"}'
ErrorDocument 404 '{"type":"exception","data":"HTTP_NOT_FOUND"}'
ErrorDocument 405 '{"type":"exception","data":"HTTP_METHOD_NOT_ALLOWED"}'
ErrorDocument 408 '{"type":"exception","data":"HTTP_REQUEST_TIME_OUT"}'
ErrorDocument 410 '{"type":"exception","data":"HTTP_GONE"}'
ErrorDocument 411 '{"type":"exception","data":"HTTP_LENGTH_REQUIRED"}'
ErrorDocument 412 '{"type":"exception","data":"HTTP_PRECONDITION_FAILED"}'
ErrorDocument 413 '{"type":"exception","data":"HTTP_REQUEST_ENTITY_TOO_LARGE"}'
ErrorDocument 414 '{"type":"exception","data":"HTTP_REQUEST_URI_TOO_LARGE"}'
ErrorDocument 415 '{"type":"exception","data":"HTTP_UNSUPPORTED_MEDIA_TYPE"}'
ErrorDocument 500 '{"type":"exception","data":"HTTP_INTERNAL_SERVER_ERROR"}'
ErrorDocument 501 '{"type":"exception","data":"HTTP_NOT_IMPLEMENTED"}'
ErrorDocument 502 '{"type":"exception","data":"HTTP_BAD_GATEWAY"}'
ErrorDocument 503 '{"type":"exception","data":"HTTP_SERVICE_UNAVAILABLE"}'
ErrorDocument 506 '{"type":"exception","data":"HTTP_VARIANT_ALSO_VARIES"}'
