
Alias /_h5ai /opt/_h5ai

<Directory "/opt/_h5ai">
  Order Deny,Allow
  Deny from all
  Allow from {{ networks.home }}/{{ masks.home }}
  Allow from 127.0.0.1
</Directory>

DirectoryIndex  index.html  index.php  /_h5ai/server/php/index.php
