
Alias /topcoat /opt/{{pkg}}/release

<Directory "/opt/{{pkg}}/release">
  Order Deny,Allow
  Deny from all
  Allow from {{ networks['system'] }}/{{ masks['system'] }}
  Allow from 127.0.0.1
</Directory>

