#!/bin/bash
#
# ting
#
# chkconfig: 2345 55 25
# description: Ting
#
# processname: ting
# config: /opt/ting/ting.yml
# pidfile: /opt/ting/ting.pid

### BEGIN INIT INFO
# Provides: ting
# Required-Start: $local_fs $network $syslog
# Required-Stop: $local_fs $syslog
# Should-Start: $syslog
# Should-Stop: $network $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Ting
# Description:       Ting
### END INIT INFO

# RedHat
if test -r /etc/rc.d/init.d/functions ; then
  source /etc/rc.d/init.d/functions
fi

# Debian & Ubuntu
if test -r /lib/lsb/init-functions ; then
  source /lib/lsb/init-functions
  function echo_success() {
    log_success_msg
  }
  function echo_failure() {
    log_failure_msg
  }
fi

USER="sysop"

DAEMON="ting"
ROOT_DIR="/opt/ting"

SERVER="client"
LOG_FILE="${ROOT_DIR}/${DAEMON}.log"
PID_FILE="${ROOT_DIR}/${DAEMON}.pid"

# mother of god! you need this shit to really stop it at reboot or shutdown
prog=$DAEMON
lockfile=/var/lock/subsys/$prog

status() {
  if [ -f "${PID_FILE}" ] ; then
    pid=`cat "${PID_FILE}"`
    # check to see if it's gone...
    ps -p ${pid} > /dev/null
    return $?
  fi
  return 1
}

do_start()
{
        echo -n "Starting ${DAEMON} $SERVER: "
        if [ ! -f "$PID_FILE" ] ; then
                cd ${ROOT_DIR}
                nohup sudo -n -u $USER -i ${ROOT_DIR}/${DAEMON} $SERVER &> $LOG_FILE &
                echo "$!" > $PID_FILE
                sleep 2
                status
                if [ $? -eq 0  ] ; then 
                  echo_success
                  if test -d "/var/lock/subsys" ; then
                    touch $lockfile
                  fi
                else
                  echo_failure
                fi
                echo
        else
                echo "$SERVER is running"
                RETVAL=1
        fi
}
do_stop()
{

  echo -n "Stopping ${DAEMON} $SERVER: "

  if [ -f "${PID_FILE}" ] ; then
    pid=`cat "${PID_FILE}"`
    kill ${pid} > /dev/null 2>&1 && echo_success || echo_failure
  fi
  echo
  sleep 2
  rm -f ${PID_FILE} ${LOG_FILE} $lockfile
}

do_status()
{
  status
  if [ $? -eq 0  ] ; then 
    echo "Ting is running"
    exit 0
  else
    echo "Ting is stopped"
    exit 1
  fi
}


case "$1" in
        start)
                do_start
                ;;
        stop)
                do_stop
                ;;
        restart)
                do_stop
                do_start
                ;;
        status)
                do_status
                ;;
        *)
                echo "Usage: $0 {start|stop|restart|status}"
                RETVAL=1
esac

exit $RETVAL

