maxClientCnxns=50
tickTime=2000
dataDir={{zookeeper.data}}
dataLogDir={{zookeeper.log}}
clientPort=2181
initLimit=5
syncLimit=2
{% for host in hostvars|sort %}
server.{{loop.index}}={{host}}:2888:3888
{% endfor %}
