#!/bin/bash
#
# ipset boilerplate
#
# http://www.ipdeny.com/blog/blocking-country-ip-tables-using-our-data-blocks-and-ipset-utility/

### boilers
gbn=$(basename $0)
gbn=${gbn%%.sh}
gdn=$(dirname $0)
save=${gbn}.save
type=iphash
mode=${1:-start}
shift
source /etc/ipset.d/functions

### args
pushd ${gdn} > /dev/null

### main
case ${mode} in
  start)
    ipset/start
    echo "Setting root servers"
    {% for host in hostvars %}
      ipset -exist -A ${gbn} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
    {% endfor %}
    ipset/save
  ;;
  stop)
    ipset/stop
  ;;
  x)
    ipset x ${gbn}
  ;;
esac

popd > /dev/null
