#!/bin/bash
#
# ipset boilerplate
#
# http://www.ipdeny.com/blog/blocking-country-ip-tables-using-our-data-blocks-and-ipset-utility/

### boilers
gbn=$(basename $0)
gbn=${gbn%%.sh}
gdn=$(dirname $0)
save=${gbn}.save
type=iphash
mode=${1:-start}
shift

function ipset/restore() {
  local _save=${1:-${save}}
  if [ -r ${_save} ] ; then
    echo "Restoring ipset: ${_save}"
    ipset -exist restore < ${_save}
    exit $?
  fi
}

function ipset/init() {
  local _set=${1:-${gbn}}
  local _type=${2:-${type}}
  echo "Creating ipset: ${_set} [${_type}]"
  ipset -exist -N ${_set} ${_type}
}

function ipset/save() {
  local _set=${1:-${gbn}}
  local _save=${2:-${save}}
  ipset save ${_set} > ${_save}
}

function ipset/start() {
  ipset/init $*
  ipset/restore $*
}

function ipset/stop() {
  ipset/save $*
}

### args

pushd ${gdn} > /dev/null

### main
case ${mode} in
  start)
    ipset/start
    echo "Setting sysops"
    {% for host in sysops %}
      ipset -exist -A ${gbn} {{ host }}
    {% endfor %}
    ipset/save
  ;;
  stop)
    ipset/stop
  ;;
  x)
    ipset x ${gbn}
  ;;
esac

popd > /dev/null
