#ZONE    TYPE    OPTIONS                 IN                      OUT
#                                        OPTIONS                 OPTIONS
# self
fw       firewall
# system
sys      ipv4

# extended
# # multicast
# mc       ipv4
# # storage
# sto      ipv4
# # mpi
# mpi      ipv4

# external
ext      ipv4
