[randr-4k] 
rw=randread
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=randr-4k
bs=4k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[randr-8k] 
rw=randread
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=randr-8k
bs=8k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[randrw-4k] 
rw=randrw
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=randrw-4k
bs=4k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[randrw-8k] 
rw=randrw
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=randrw-8k
bs=8k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[randw-4k] 
rw=randwrite
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=randw-4k
bs=4k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[random-rw-direct] 
rw=randrw
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=random-rw-direct
bs=8k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[seqr-4k] 
rw=read
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=seqr-4k
bs=4k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[seqr-8k] 
rw=read
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=seqr-8k
bs=8k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[seqrw-4k] 
rw=rw
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=seqrw-4k
bs=4k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[seqrw-8k] 
rw=rw
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=seqrw-8k
bs=8k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[seqw-4k] 
rw=write
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=seqw-4k
bs=4k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data

[rseqw-8k] 
rw=write
size={{fio_size}}
direct=1
directory={{common}}
numjobs=1
group_reporting
name=seqw-8k
bs=8k
runtime=30
write_iops_log
write_lat_log
write_bw_log
overwrite=1
filename=fio.data
