{% for dst in rsyslog_sendto %}
### begin {{dst}} ###
$WorkDirectory /var/lib/rsyslog
$ActionQueueFileName {{dst}}
$ActionQueueMaxDiskSpace 128m
$ActionQueueSaveOnShutdown on
$ActionQueueType LinkedList
$ActionResumeRetryCount -1
$ActionQueueTimeoutEnqueue 100
*.* @@{{dst}}
### end {{dst}} ###
{% endfor %}
