{% for dst in rsyslog_sendto %}
### begin {{dst}} ###
$WorkDirectory /var/lib/rsyslog
$ActionQueueFileName {{dst}}
$ActionQueueMaxDiskSpace 1g
$ActionQueueSaveOnShutdown on
$ActionQueueType LinkedList
$ActionResumeRetryCount -1
*.* @@{{dst}}
### end {{dst}} ###
{% endfor %}
