#SOURCE    DEST        POLICY      LOG LEVEL    LIMIT:BURST
sys        sys         ACCEPT
sto        sto         ACCEPT
mpi        mpi         ACCEPT

$FW        sys         ACCEPT
$FW        sto         ACCEPT
$FW        mpi         ACCEPT

$FW        $FW         ACCEPT

$FW        ext         ACCEPT
