#SOURCE    DEST        POLICY      LOG LEVEL    LIMIT:BURST
sys        sys         ACCEPT
$FW        sys         ACCEPT
$FW        $FW         ACCEPT
$FW        ext         ACCEPT
# https://forums.openvpn.net/topic9504.html
vpn        all         ACCEPT
$FW        vpn         ACCEPT
all        all         DROP      info
