ACCEPT     sys:+sysop           $FW       tcp        2811
ACCEPT     sys:+sysop           $FW       tcp        50000:51000
# ACCEPT     ext:+whitelist       $FW       tcp        50000:51000
# ACCEPT     ext:+whitelist       $FW       tcp        2811
#RULESEND
