ACCEPT     ext:+vpnlist         $FW       tcp      1194
ACCEPT     ext:+vpnlist         $FW       udp      1194
# ACCEPT     sys:+sysop         $FW       tcp      1194
# ACCEPT     sys:+sysop         $FW       udp      1194
