ACCEPT     ext:+homelist        $FW       tcp     9091
ACCEPT     ext:+homelist        $FW       tcp     51413
ACCEPT     ext:+homelist        $FW       udp     51413
# torrent
ACCEPT     ext:+whitelist       $FW       tcp     51413
ACCEPT     ext:+whitelist       $FW       udp     51413
