# tftp
ACCEPT       sys:+warewulf           $FW       udp       69
ACCEPT       sys:+warewulf           $FW       udp      514
ACCEPT       sys:+warewulf           $FW       tcp       80
Ping(ACCEPT) sys                     $FW
#RULESEND
