#ZONE      INTERFACE     BROADCAST     OPTIONS
sys        {{interfaces.system}}   detect dhcp
ext        {{interfaces.external}} detect dhcp,tcpflags,nosmurfs,routefilter,logmartians,upnpclient
vpn        tun+
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
