#ZONE      INTERFACE     BROADCAST     OPTIONS
ext        {{interfaces.system}} detect dhcp,tcpflags,nosmurfs,routefilter,logmartians,upnpclient
vpn        tun+
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
