#SOURCE    DEST        POLICY      LOG LEVEL    LIMIT:BURST
SHELL cat /etc/shorewall/policy.d/* 2> /dev/null || true
all        all         DROP      info

#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE

