#SOURCE    DEST        POLICY      LOG LEVEL    LIMIT:BURST
sys        sys         ACCEPT
sto        sto         ACCEPT
mpi        mpi         ACCEPT
$FW        ext         ACCEPT
all        all         DROP      info

