#ACTION    SOURCE        DEST      PROTO      DEST
#                                             PORT(S)
ACCEPT     ext           $FW       tcp        22
ACCEPT     sys           $FW       tcp        22
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
