#ACTION    SOURCE        DEST      PROTO      DEST
#                                             PORT(S)
SECTION NEW
SHELL cat /etc/shorewall/rules.d/*.rules 2> /dev/null || true
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
