#ZONE    TYPE    OPTIONS                 IN                      OUT
#                                        OPTIONS                 OPTIONS
fw       firewall
sys      ipv4
sto      ipv4
mpi      ipv4
ext      ipv4
