#ZONE    TYPE    OPTIONS                 IN                      OUT
#                                        OPTIONS                 OPTIONS
SHELL cat /etc/shorewall/zones.d/* 2> /dev/null || true
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
