<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>{{inventory_hostname}}</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="topcoat/css/topcoat-desktop.css">
  </head>

  <body>
    <div>
      <span><a target="page" href="/phpsysinfo">System Information</a></span>
      <span><a target="page" href="/ganglia">Ganglia Cluster Top</a></span>
      <span><a target="page" href="/icinga">Icinga Cluster Monitor</a></span>
      <span><a target="page" href="/phpmyadmin">Mysql Administration</a></span>
    </div>
    <iframe src="/phpsysinfo" height="100%" width="100%" 
            frameborder="0" scrolling="yes" name="page" id="page">
    </iframe>
  </body>
</html>
